{% load static %}
 <!--Footer start--->
 <div class="row mt-5 bg-danger-subtle p-3">
    <div class="col-4">
        <h5>FAQs</h5>
        <hr>
        <p><a href="My Account.html">My Account</a></p>
        <p><a href="Return Policy.html">Return Policy</a></p>
        <p><a href="Tech Glossary.html">Tech Glossary</a></p>
        <p><a href="Initiate Return.html">Initiate Return</a></p>
    </div>
    <div class="col-4">
        <h5>SUPPORT</h5>
        <hr>
        <p><a href="Contact us.html">Contact us</a></p>
        <p><a href="About us .html">About Us</a></p>
        <p><a href="Privacy Policy.html">Privacy Policy</a></p>
        <p><a href="Terms & Conditions.html">Terms & Conditions</a></p>
        <p><a href="Cookie Settings.html">Cookie Settings</a></p> 
    </div>
    <div class="col-4">
        <h5>STAY UP TO DATE</h5>
        <hr>
        <h5><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="https://www.instagram.com/"><i class="bi bi-instagram "></i></a></h5>
        <h5><a href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a></h5>
        <h5><a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a></h5>
        <h5><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></h5>
        <hr>
        <i class="fa fa-cc-visa "></i>
        <i class="fa fa-credit-card "></i>
        <i class="fa fa-cc-paypal "></i>
        <i class="fa fa-google-wallet "></i>
    </div>
</div> <!--Footer end--->
</div>

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>



</body>
</html>